/* Root Settings */
* {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    font-size: calc(0.625rem + 0.4vw);

}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
}

/* End of Root Settings */

/* Header Section */
.header-section {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-area: 1 / 2 / 2 / 3;
    padding: 0.5rem 2rem;
    background-color: #bae6fd;
}

.header-section img {
    width: 2rem;
    height: 2rem;
}

.search-section {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    gap: 1rem;
}

.search-field {
    border-radius: 20px;
    height: 1.5rem;
    flex: 1;
    background-color: #f0f9ff;
}

.profile-section {
    display: flex;
    grid-area: 1/2/2/3;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.profile-section .bell {
    height: 1.7rem;
    cursor: pointer;
}

.profile-section .user-profile {
    background-color: #38bdf8;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}



.profile-section .user-name {
    margin: 0;
    cursor: pointer;
}

.welcome-section {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    gap: 0.5rem 1rem;
}

.welcome-section .user-profile-big {
    grid-row: 1/3;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
    background-color: #38bdf8;
}

.welcome-section .user-greeting {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.welcome-section .user {
    margin: 0;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn-section button {
    cursor: pointer;
    background-color: #38bdf8;
    border: none;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1rem;
}

/* End of Header Section */

/* Sidebar Section */

.sidebar {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: auto auto 1fr;
    padding: 1rem;
    background-color: #7dd3fc;
    color: white;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar .logo h3 {
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
}

.sidebar .logo .img-icon {
    cursor: pointer;
    height: 3rem;
    filter: invert(1);
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar ul li img {
    width: 2rem;
    height: 2rem;
    filter: invert(1);

}

.sidebar ul li p {
    font-weight: bold;
    text-shadow: 0 0 5px black;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 1.3rem;
}

/* End of Sidebar Section */

/* Main Section */

/* Project Section */
.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
    box-shadow: inset 0 5px 5px rgb(173, 173, 173);
}

.main-content .projects {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem 1rem;
}

.main-content .projects>h3 {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 0.5rem;
    grid-column: 1 / -1;
}

.main-content .projects .project {
    border-radius: 13px;
    background-color: wheat;
    display: grid;
    grid-template: 4fr auto / 1rem 1fr;
    box-shadow: .2rem .2rem .4rem rgb(146, 146, 146);
}

.main-content .projects .project .text-block {
    padding: 1rem 1rem 0;
}

.text-block .project-name {
    margin: 0;
    font-size: 1.5rem;
}

.projects .project .color-black {
    grid-row: 1/-1;
    background: linear-gradient(#009fff, #ec2f4b);
    border-radius: 20px 0 0 20px;
    width: 75%;
}

.projects img {
    cursor: pointer;
    height: 2rem;
}

.projects .action-block {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
}

/* End of Project Section */
/* Announcement and Trending Section */

.announ-trending {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.announ-trending>div {
    display: flex;
    flex-direction: column;
}

.announ-trending>div h5 {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 0.5;
}

.announ-content,
.trending-content {
    background-color: wheat;
    display: flex;
    border-radius: 20px;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem 2rem;
    box-shadow: .2rem .2rem .4rem rgb(146, 146, 146);

}

.announ-trending img {
    height: 2rem;
}

.main-content .announ-trending .announcement h5 {
    font-size: 0.9rem;
}

.main-content .announ-trending .announcement h5,
.main-content .announ-trending .announcement p {
    margin: 0;
}

.main-content .announ-trending .announcement p {
    opacity: 0.7;
}

.main-content .announ-trending .announcement-border {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.main-content .announ-trending .trend {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trendimg {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: grey;
}

.trendtext {
    opacity: 0.7;
}

/* End of Announcement and Trending Section */
/* End of Main Section */